set_volume:
  name: Gradually set Volume
  description: Changes the volume gradually 
  target:
    entity:
      domain: media_player 
  fields:
    volume: 
      name: Volume 
      description: Volume to set
      required: true
      example: 0.5
      selector:
        number:
          min: 0
          max: 1
          step: .01
          mode: slider
    duration:
      name: Duration
      description: Duration in seconds
      required: false
      example: 10
      default: 5
      selector:
        number:
          min: 1
          max: 60
          step: 0.1
          mode: slider
cancel_all:
  name: Cancel all
  description: Cancels all gradual volume changes of given entity
  target:
    entity:
      domain: media_player